<html>
<head>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css">

    <script type="application/javascript" src="vendor/jquery/dist/jquery.min.js"></script>

    <script type="application/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script type="application/javascript" src="vendor/underscore/underscore.js"></script>
    <script type="application/javascript" src="vendor/backbone/backbone.js"></script>


</head>

<body>
<div class="container container-fluid">

    <h1>Enums</h1>

    <div class="row">
        <div id="searchView" class="col-md-12">
            <form>
                <div class="form-group">

                    <div class="input-group">
                        <input type="search" class="form-control" id="searchBox" placeholder="Search for enums here">
                        <span class="input-group-btn"><button class="btn btn-success" type="button">Search</button>      </span>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div id="resultsView" class="col-md-4">
            <h3>Matching Enums <small> (search to filter)</small></h3>
            <div id="classList" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


            </div>


        </div>
        <div  class="col-md-8">
            <h3>Pinned Enums <small> (click on list to add details here)</small></h3>
            <div id="pinnedView"></div>

        </div>

    </div>

</div>
</body>

</html>


<script type="text/html" id="pinnedItemTemplate">
    <div class="panel panel-info">
        <div class="panel-heading "><i class="fa fa-times pull-right"></i>
            <span class="panel-title"><%= pinnedItem.get("enumName") %></span>

        </div>


            <ul class="list-group">
                <% _.each(pinnedItem.get("fieldList"), function(fieldPair){ %>
                <li class="list-group-item"> <%= fieldPair.Key %> <span class="pull-right"><%= fieldPair.Value %></span>
                </li>

                <% }) %>


            </ul>



    </div>

</script>


<script type="text/html" id="resultItemTemplate">

    <div class="panel-heading ">
        <span class="panel-title">
            <a class="collapsed small clickableTitle" role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse<%= id%>" aria-expanded="false" aria-controls="collapse<%= id %>">
                <%= _.last(resultItem.get("ClassName").split(/\./)) %>
            </a>
        </span>

    </div>

    <div id="collapse<%= id %>" class="panel-collapse collapse " role="tabpanel" aria-expanded="true"
         aria-labelledby="heading<%= id %>">
        <ul class="list-group">
            <% _.each(enumItems, function(enumItem){ %>
            <li class="list-group-item enumLabel"> <%= enumItem.enumName %>
                <button type="button" class="btn btn-xs btn-info pull-right" id="btn_<%= enumItem.enumName %>">View <i class="fa fa-chevron
                </button>
            </li>

            <% }) %>


        </ul>
    </div>

</script>


<script>
    window.data = [{
        "enumItems": [{
            "enumName": "Locks",
            "fieldList": [{"Key": "None", "Value": "0"}, {"Key": "TableLock", "Value": "1"}, {
                "Key": "RowLock",
                "Value": "2"
            }, {"Key": "UpdateLock", "Value": "3"}]
        }], "ClassName": "DAL.CoreClass"
    }, {
        "enumItems": [{
            "enumName": "Status",
            "fieldList": [{"Key": "Deleted", "Value": "0"}, {"Key": "Valid", "Value": "1"}]
        }, {
            "enumName": "Position",
            "fieldList": [{"Key": "Administrator", "Value": "1"}, {"Key": "Sales", "Value": "2"}, {
                "Key": "User",
                "Value": "3"
            }, {"Key": "Outsourced", "Value": "4"}, {"Key": "BusinessPartner", "Value": "5"}]
        }, {
            "enumName": "EndCause",
            "fieldList": [{"Key": "AccountingStop", "Value": "0"}, {
                "Key": "AdminClear",
                "Value": "1"
            }, {"Key": "UserDisabled", "Value": "2"}, {"Key": "UserDeleted", "Value": "3"}, {
                "Key": "DeviceDisabled",
                "Value": "4"
            }, {"Key": "DeviceDeleted", "Value": "5"}]
        }, {
            "enumName": "Admin",
            "fieldList": [{"Key": "Conor", "Value": "5"}, {"Key": "CustomerSuccess", "Value": "99"}, {
                "Key": "Renewals",
                "Value": "180"
            }, {"Key": "Priority", "Value": "214"}]
        }, {
            "enumName": "SalesGroupID",
            "fieldList": [{"Key": "None", "Value": "0"}, {"Key": "India", "Value": "1"}, {
                "Key": "Usa",
                "Value": "2"
            }, {"Key": "World", "Value": "3"}]
        }], "ClassName": "DAL.Common.Admin_Manager"
    }, {
        "enumItems": [{
            "enumName": "Status",
            "fieldList": [{"Key": "Invalid", "Value": "0"}, {"Key": "Valid", "Value": "1"}]
        }, {
            "enumName": "AlertType",
            "fieldList": [{"Key": "ConfirmYourEmailAddress_1", "Value": "1"}, {
                "Key": "AccountSuspended_2",
                "Value": "2"
            }, {"Key": "EmailAddressBouncing_3", "Value": "3"}, {
                "Key": "OutOfCredit_4",
                "Value": "4"
            }, {"Key": "AccountDemoted_5", "Value": "5"}, {
                "Key": "OutOfCreditFail_6",
                "Value": "6"
            }, {"Key": "SubscriptionFailedToRenew_7", "Value": "7"}, {
                "Key": "ConfirmRepresent_8",
                "Value": "8"
            }, {"Key": "EmailNotDeliverable_9", "Value": "9"}, {
                "Key": "EmailRemoved_10",
                "Value": "10"
            }, {"Key": "AccountPromoted_11", "Value": "11"}, {
                "Key": "TrialSubscriptionPPL_12",
                "Value": "12"
            }, {"Key": "PhoneNumberAdded_13", "Value": "13"}, {
                "Key": "AccountSuspendedAsSubscriptionEnded_14",
                "Value": "14"
            }]
        }], "ClassName": "DAL.Common.Alert_Manager"
    }, {
        "enumItems": [{
            "enumName": "UpdatedBy",
            "fieldList": [{"Key": "Clinic", "Value": "1"}, {"Key": "Patient", "Value": "2"}]
        }, {
            "enumName": "Status",
            "fieldList": [{"Key": "Proposed", "Value": "1"}, {"Key": "Requested", "Value": "2"}, {
                "Key": "Rejected",
                "Value": "3"
            }, {"Key": "Cancelled", "Value": "4"}, {"Key": "Confirmed", "Value": "5"}, {
                "Key": "Withdrawn",
                "Value": "6"
            }]
        }, {
            "enumName": "Source",
            "fieldList": [{"Key": "None", "Value": "0"}, {"Key": "WCC", "Value": "1"}, {
                "Key": "ThirdPartyWidget",
                "Value": "2"
            }, {"Key": "FaceBook", "Value": "3"}, {"Key": "IVR", "Value": "4"}]
        }], "ClassName": "DAL.Common.AppointmentRequest_Manager"
    }, {
        "enumItems": [{"enumName": "CategoryID", "fieldList": [{"Key": "Recurring", "Value": "1"}]}],
        "ClassName": "DAL.Common.AvailabilityCategory_Manager"
    }, {
        "enumItems": [{
            "enumName": "ResourceID",
            "fieldList": [{"Key": "Available", "Value": "1"}, {
                "Key": "Always_Available",
                "Value": "2"
            }, {"Key": "Never_Available", "Value": "3"}, {"Key": "Unavailable", "Value": "4"}]
        }], "ClassName": "DAL.Common.AvailabilityResource_Manager"
    }]
</script>

<script type="application/javascript" src="app/app.js"></script>